.nav {
    width: 100%;
    padding: 0.7rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 1.5rem;
    width: auto;

    cursor: pointer;
}

.nav__profile {
    width: auto;

    display: flex;
    align-items: center;

    * {
        margin: 0 0.3rem;
    }

    img {
        width: 2rem;

        border-radius: 4px;
    }

    .material-icons {
        position: relative;

        cursor: pointer;
    }

    .material-icons:hover {
        transform: scale(1.1);
    }
}