.signup {
    width: 450px; 
    height: auto;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #BDBDBD;
    border-radius: 24px;

    &__logo {
        width: 30%;
        height: 1.1rem;
    }

    input {
        height: 3rem;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        
        border: 1px solid #BDBDBD;
        border-radius: 8px;
    }
}

.social-icons {
    margin-top: 0.5rem;

    display: flex;
    justify-content: center;

    img {
        width: 2.7rem;
        margin: 0.6rem 0.5rem;
        
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.05);
    }
}

.msg {
    margin-top: 0.3rem;

    color: red;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

@media only screen and (max-width: 500px) {
  .signup {
    width: 90%;
  }
}