@mixin ease-transition {
    transition: background-color ease-in-out 0.3s;
    -webkit-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    -moz-transition: background-color ease-in-out 0.3s;
}

* {
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    @include ease-transition();
}

:root, body, #root {
    height: auto;
    min-height: 100vh;
    font-size: 16px;
}

input {
    outline: none;
}

a {
    color: #2F80ED;
    cursor: pointer;
}

.material-icons.md-18 { font-size: 1.2rem; width: 1.2rem; }
.material-icons.md-24 { font-size: 1.5rem; width: 1.5rem; }
.material-icons.md-36 { font-size: 2rem; width: 2rem; }
.material-icons.md-48 { font-size: 3rem; width: 3rem; }
.material-icons.inline { display: inline; }

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

@media only screen and (max-width: 1200px) {
  :root, body, #root {
        font-size: 16px;
    }
}