.App {
    background-color: #FFFFFF;

    .btn {
        &.primary {
            background-color: #2F80ED;
            color: #FFFFFF;
        }

        &.secondary {
            background-color: #FFFFFF;
            border: 1px solid #828282;
        }

        &.inherit {
            background-color: inherit;
        }
    }

    .text {
        &.primary {
            color: #333333;
        }

        &.secondary {
            color: #828282;
        }

        &.tertiary {
            color: #4F4F4F;
        }
    }

    .material-icons {
        &.theme-toggler {
            color: #333333;
        }

        &.primary {
            color: #333333;
        }
    }
}

.App.dark {
    background-color: #333333;

    .btn {
        &.primary {
            background-color: #2F80ED;
            color: #FFFFFF;
        }

        &.inherit {
            background-color: inherit;
        }
    }

    .text {
        &.primary {
            color: #E0E0E0;
        }

        &.secondary {
            color: #828282;
        }
    }

    .material-icons {
        &.theme-toggler {
            color: #FFC107;
        }

        &.primary {
            color: #FFFFFF;
        }
    }
}