.App {
    background-color: #FFFFFF;

    .bg-primary { background-color: #FFFFFF; }
    .bg-hover:hover {
        background-color: #F2F2F2;
    }

    .btn {
        &.primary {
            background-color: #2F80ED;
            color: #FFFFFF;
        }

        &.secondary {
            background-color: #FFFFFF;
            border: 1px solid #828282;
        }

        &.inherit {
            background-color: inherit;
        }
    }

    .text {
        &.primary {
            color: #333333;
        }

        &.secondary {
            color: #828282;
        }

        &.tertiary {
            color: #4F4F4F;
        }

        &.alert {
            color: #EB5757;
        }
    }

    .material-icons {
        &.theme-toggler {
            color: #333333;
        }

        &.primary {
            color: #333333;
        }

        &.secondary {
            color: #4F4F4F;
        }

        &.tertiary {
            color: #EB5757;
        }
    }
}

.App.dark {
    background-color: #333333;
    .bg-primary { background-color: #2B2B2B; }
    .bg-hover:hover {
        background-color: #444444;
    }

    .btn {
        &.primary {
            background-color: #2F80ED;
            color: #FFFFFF;
        }

        &.inherit {
            background-color: inherit;
        }
    }

    .text {
        &.primary {
            color: #E0E0E0;
        }

        &.secondary {
            color: #828282;
        }

        &.tertiary {
            color: #E0E0E0;
        }
    }

    .material-icons {
        &.theme-toggler {
            color: #FFC107;
        }

        &.primary {
            color: #FFFFFF;
        }

        &.secondary {
            color: #E0E0E0;
        }
    }
}